<%= turbo_stream_from "messages" %>
<table class="table table-sm table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Time(UTC)</th>
      <th scope="col">Block</th>
      <th scope="col">From</th>
      <th scope="col">To</th>
      <th scope="col">Nonce</th>
      <th scope="col">Status</th>
      <th scope="col">Src Tx</th>
      <th scope="col">Dst Tx</th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
    <% messages.each do |message| %>
      <tr id="message_<%= message.id %>" class="position-relative">
        <th scope="row"><%= link_to message.id, message_path(message.id), class: "stretched-link text-decoration-none text-reset", data: { turbo: false } %></th>
        <td ><%= message.sent_at&.strftime("%F %T") || '-' %></td>
        <td ><%= message.block_number || '-' %></td>
        <td ><%= message.src_chain.name %></td>
        <td ><%= message.dst_chain.name %></td>
        <td ><%= message.nonce %></td>
        <td ><%= message.status_bar %></td>
        <td ><%= message.src_transaction_hash&.truncate(15) || '-' %></td>
        <td ><%= message.dst_transaction_hash&.truncate(15) || '-' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
