<table class="table">
  <thead>
    <tr>
      <th scope="col">Nonce</th>
      <th scope="col">Direction</th>
      <th scope="col">Accepted At</th>
      <th scope="col">Dispatched At</th>
      <th scope="col">Delivered At</th>
    </tr>
  </thead>
  <tbody class="lh-copy">
    <% @messages.each do |message| %>
      <tr h2>
        <td scope="row"><%= message.nonce %></td>
        <td ><%= message.channel.direction %></td>
        <td ><%= message.accepted_at %></td>
        <td ><%= message.dispatched_at %></td>
        <td ><%= message.delivered_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @messages %>
